
:root{--cor-primaria:#9E6899;--cor-secundaria:#FFFFFF;--cor-fundo:#F5F3FF;--cor-texto:#5B3765;--cor-branco:#FFFFFF;}

body{background-color:var(--cor-fundo);margin:0;padding:0;}

header{background-color:var(--cor-primaria);padding:25px;border-radius: 0px;box-shadow:0px 4px 10px gray;}

nav{display:flex;justify-content:center;gap:35px;}

nav a{color:var(--cor-texto);text-decoration:none;font-size:18px;font-weight:bold;transition:0.3s;}
nav a:hover{color:var(--cor-secundaria);font-size:20px;}

h1{color:var(--cor-branco);font-size:2.5rem;font-weight:700;text-align:center;letter-spacing:2px;text-shadow:2px 2px 5px rgba(0,0,0,0.2);}



body{
 
 background-color: #e4b5cb9e;
color: rgb(63, 35, 35);
font-size: 19px;
}

p {

padding: 12px;


}


h2 {

padding: 1px;


}

.Destaques{

display: grid;
grid-template-columns: repeat(2,350px);
gap: 25px;
margin: 40px auto;
justify-content: center;
flex-wrap: wrap;

}

.card{


background-color: rgb(251, 237, 247);
color: rgb(63, 35, 35);
width: 300px;
padding: 0px;
border-radius: 15px;
box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
transition: 0.3s;


}

.card h3{

margin-top: 0;
font-size: 24px;



}

.card p {

font-size: 17px;
line-height: 1.6;



}

.card:hover{


transform:scale(1.03);
background: color #aa789e85; ;




}








/*Contato*/




:root{--cor-primaria:#9E6899;--cor-secundaria:#FFFFFF;--cor-fundo:#F5F3FF;--cor-texto:#5B3765;--cor-branco:#FFFFFF;}

body{background-color:var(--cor-fundo);margin:0;padding:0;}

header{background-color:var(--cor-primaria);padding:25px;border-radius: 0px;box-shadow:0px 4px 10px gray;}

nav{display:flex;justify-content:center;gap:35px;}

nav a{color:var(--cor-texto);text-decoration:none;font-size:18px;font-weight:bold;transition:0.3s;}
nav a:hover{color:var(--cor-secundaria);font-size:20px;}

h1{color:var(--cor-branco);font-size:2.5rem;font-weight:700;text-align:center;letter-spacing:2px;text-shadow:2px 2px 5px rgba(0,0,0,0.2);}



body{
 
 background-color: #e4b5cb9e;
color: rgb(63, 35, 35);
font-size: 19px;
}

p {

padding: 12px;


}


h2 {

padding: 12px;


}





/*Extra*/



:root{--cor-primaria:#9E6899;--cor-secundaria:#FFFFFF;--cor-fundo:#F5F3FF;--cor-texto:#5B3765;--cor-branco:#FFFFFF;}

body{background-color:var(--cor-fundo);margin:0;padding:0;}

header{background-color:var(--cor-primaria);padding:25px;border-radius: 0px;box-shadow:0px 4px 10px gray;}

nav{display:flex;justify-content:center;gap:35px;}

nav a{color:var(--cor-texto);text-decoration:none;font-size:18px;font-weight:bold;transition:0.3s;}
nav a:hover{color:var(--cor-secundaria);font-size:20px;}

h1{color:var(--cor-branco);font-size:2.5rem;font-weight:700;text-align:center;letter-spacing:2px;text-shadow:2px 2px 5px rgba(0,0,0,0.2);}



body{
 
 background-color: #e4b5cb9e;
color: rgb(63, 35, 35);
font-size: 19px;
}

p {

padding: 12px;


}


h2 {

padding: 12px;


}




/*partenicole*/

    /*Root*/
    :root{
        --cor-destaque: rgb(107, 26, 182);
        --cor-primaria:#9E6899;
        --cor-secundaria:#FFFFFF;
        --cor-fundo:#F5F3FF;
        --cor-texto:#5B3765;
        --cor-branco:#FFFFFF;
        --cor-terciaria: #fce2fd;
    }
    /*fontes*/
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


    /*style fundo, letras*/

        body{background: #e4b5cb9e; color: rgb(63, 35, 35);font-size: 19px;}
        h1{color:var(--cor-branco);font-family: "Playfair Display", serif; font-size:2.5rem;font-weight:700;text-align:center;letter-spacing:2px;text-shadow:2px 2px 5px rgba(0,0,0,0.2);}
        h2, h3{color: var(--cor-texto); font-family: "Playfair Display", serif;}
        .aviso{color: rgb(221, 15, 43);} /*chamar atenção para o aviso*/
        cite{color: var(--cor-destaque)}
        header{background-color:var(--cor-primaria);padding:25px;border-radius: 3px;box-shadow:0px 4px 10px gray;}
    
    /*style da tabela tema*/

        table{width: 100%; margin: 20px auto; border-collapse: collapse; border-radius: 4px;}
        th{background-color: #FFFFFF; padding: 14px 18px; text-align: left; font-weight: bold;border-bottom: 1px solid #dedede;color: rgba(0, 0, 0, 0.1); color: #444;}
        td{background-color: #ffffff; padding: 14px 18px; text-align: left; border-bottom: 1px solid #dedede; color: #444;}
        th:hover, td:hover{color: var(--cor-primaria); transform: scale(1.05); background: var(--cor-terciaria); transition: transform 0.3s ease, color 0.3s ease;}
        caption{font-size: 18px;font-weight: bold; padding: 15px; text-align: left; border: 1px, solid #dedede; background-color: #ffffff;}
        tr{border: 1px, solid #dedede;border-radius: 4px;}
        .tab tr:nth-child(even) {background-color: #fcfbfe}

    /*style da tabela sobre*/

        .tabelas{display: flex; align-items: center;align-items: stretch; width: 100%; max-width: 800px; margin: 20px auto; border-collapse: collapse}
        .card{flex: 1;width: 100%; border-collapse: collapse; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0,0,0,0.05); border-radius: 6px; overflow: hidden;}
        .card tbody, .card tr{display: flex;flex-direction: column; width: 100%; font-size: 16px; text-align: center;}
        .card td{display: block; width: 100%; box-sizing: border-box; margin-bottom: 2px; padding: 18px; border: 1px solid #dedede; background-color: #fff; font-size: 15px; line-height: 1.6;}
    
    /*style navgador externo*/

        nav{display:flex;justify-content:center;gap:35px;}
        nav a{color:var(--cor-texto); text-decoration:none; font-size:18px; font-weight:bold; transition:0.3s;}
        nav a:hover{color:var(--cor-secundaria);font-size:20px;}

    /*aviso academico!*/

        .aviso-aca{background-color: var(--cor-primaria); padding: 15px; border-radius: 3px;box-shadow:0px 4px 10px gray; border: 2px solid; align-items: center;}
        .aviso-aca p{color:var(--cor-branco); text-decoration:none; font-size:18px; font-weight:bold; transition:0.3s; font-family: "Playfair Display", serif; border: 2px solid var(--cor-branco);}
    
    /*depoimento*/

        .container{font-family: "Playfair Display", serif; display: flex;justify-content: center;gap: 40px;width: 100%;margin: 20px auto;flex-wrap: wrap; background: var(--cor-primaria); border-radius: 4px; padding: 10px; box-sizing: border-box; align-items: stretch;}
        blockquote.depoi{font-family: "Playfair Display", serif; background: var(--cor-primaria);border: 4px solid var(--cor-primaria);border-radius: 8px;padding: 25px;flex: 1;min-width: 300px;max-width: 520px;box-sizing: border-box; margin: 0;display: flex; flex-direction: column; justify-content: space-between; position: relative; box-shadow: rgba(0,0,0,0.05);}
        blockquote.depoi cite {font-family: "Playfair Display", serif; margin-top: 15px;font-weight: bold;font-style: normal;display: block;text-align: right;color: var(--cor-texto);}
        blockquote.depoi + blockquote.depoi {border-left: 2px solid var(--cor-texto);padding-left: 40px;border-top-left-radius: 2;border-bottom-left-radius: 0;}
   
    /*imagem*/

        .image{font-family: "Playfair Display", serif; background: var(--cor-primaria);border: 4px solid var(--cor-primaria);border-radius: 8px;padding: 25px;flex: 1;min-width: 220px;max-width: 500px;box-sizing: border-box; margin: 0;display: flex; flex-direction: column; justify-content: space-between; position: relative; box-shadow: rgba(0,0,0,0.05);}
        .image img{width: 100%; max-width: 200PX; height: 200PX; object-fit: cover; border-radius: 6px; margin-bottom: 15px;}
        .image cite {font-family: "Playfair Display", serif; margin-top: 15px;font-weight: bold;font-style: normal;display: block;text-align: left;color: var(--cor-texto);}
        .image cite:hover{font-size:20px; transform: 0.5s ease, color var(--cor-branco); color: var(--cor-branco);}
        .autor{display: block; align-items: center; gap: 15px; margin-bottom: 15px; width: 100%;}
        .foto{width: 50px; height: 50PX; object-fit: cover; border-radius: 100%; border: 2px solid var(--cor-texto);}
        .autor cite{font-weight: bold; font-style: normal; color: var(--cor-texto); text-align: left; margin-top: 0;}
        .imag{display: block; margin: 25px auto; width: 100%; max-width: 450px; height: auto; border-radius: 8px;}


  /*Root*/
    :root{
        --cor-destaque: rgb(107, 26, 182);
        --cor-primaria:#9E6899;
        --cor-secundaria:#FFFFFF;
        --cor-fundo:#F5F3FF;
        --cor-texto:#5B3765;
        --cor-branco:#FFFFFF;
        --cor-terciaria: #fce2fd;
    }
    /*fontes*/
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


    /*style fundo, letras*/

        body{background: #e4b5cb9e; color: rgb(63, 35, 35);font-size: 19px;}
        h1{color:var(--cor-branco);font-family: "Playfair Display", serif; font-size:2.5rem;font-weight:700;text-align:center;letter-spacing:2px;text-shadow:2px 2px 5px rgba(0,0,0,0.2);}
        h2, h3{color: var(--cor-texto); font-family: "Playfair Display", serif;}
        .aviso{color: rgb(221, 15, 43);} /*chamar atenção para o aviso*/
        cite{color: var(--cor-destaque)}
        header{background-color:var(--cor-primaria);padding:25px;border-radius: 3px;box-shadow:0px 4px 10px gray;}
    
    /*style da tabela tema*/

        table{width: 100%; margin: 20px auto; border-collapse: collapse; border-radius: 4px;}
        th{background-color: #FFFFFF; padding: 14px 18px; text-align: left; font-weight: bold;border-bottom: 1px solid #dedede;color: rgba(0, 0, 0, 0.1); color: #444;}
        td{background-color: #ffffff; padding: 14px 18px; text-align: left; border-bottom: 1px solid #dedede; color: #444;}
        th:hover, td:hover{color: var(--cor-primaria); transform: scale(1.05); background: var(--cor-terciaria); transition: transform 0.3s ease, color 0.3s ease;}
        caption{font-size: 18px;font-weight: bold; padding: 15px; text-align: left; border: 1px, solid #dedede; background-color: #ffffff;}
        tr{border: 1px, solid #dedede;border-radius: 4px;}
        .tab tr:nth-child(even) {background-color: #fcfbfe}

    /*style da tabela sobre*/

        .tabelas{display: flex; align-items: center;align-items: stretch; width: 100%; max-width: 800px; margin: 20px auto; border-collapse: collapse}
        .card{flex: 1;width: 100%; border-collapse: collapse; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0,0,0,0.05); border-radius: 6px; overflow: hidden;}
        .card tbody, .card tr{display: flex;flex-direction: column; width: 100%; font-size: 16px; text-align: center;}
        .card td{display: block; width: 100%; box-sizing: border-box; margin-bottom: 2px; padding: 18px; border: 1px solid #dedede; background-color: #fff; font-size: 15px; line-height: 1.6;}
    
    /*style navgador externo*/

        nav{display:flex;justify-content:center;gap:35px;}
        nav a{color:var(--cor-texto); text-decoration:none; font-size:18px; font-weight:bold; transition:0.3s;}
        nav a:hover{color:var(--cor-secundaria);font-size:20px;}

    /*aviso academico!*/

        .aviso-aca{background-color: var(--cor-primaria); padding: 15px; border-radius: 3px;box-shadow:0px 4px 10px gray; border: 2px solid; align-items: center;}
        .aviso-aca p{color:var(--cor-branco); text-decoration:none; font-size:18px; font-weight:bold; transition:0.3s; font-family: "Playfair Display", serif; border: 2px solid var(--cor-branco);}
    
    /*depoimento*/

        .container{font-family: "Playfair Display", serif; display: flex;justify-content: center;gap: 40px;width: 100%;margin: 20px auto;flex-wrap: wrap; background: var(--cor-primaria); border-radius: 4px; padding: 10px; box-sizing: border-box; align-items: stretch;}
        blockquote.depoi{font-family: "Playfair Display", serif; background: var(--cor-primaria);border: 4px solid var(--cor-primaria);border-radius: 8px;padding: 25px;flex: 1;min-width: 300px;max-width: 520px;box-sizing: border-box; margin: 0;display: flex; flex-direction: column; justify-content: space-between; position: relative; box-shadow: rgba(0,0,0,0.05);}
        blockquote.depoi cite {font-family: "Playfair Display", serif; margin-top: 15px;font-weight: bold;font-style: normal;display: block;text-align: right;color: var(--cor-texto);}
        blockquote.depoi + blockquote.depoi {border-left: 2px solid var(--cor-texto);padding-left: 40px;border-top-left-radius: 2;border-bottom-left-radius: 0;}
   
    /*imagem*/

        .image{font-family: "Playfair Display", serif; background: var(--cor-primaria);border: 4px solid var(--cor-primaria);border-radius: 8px;padding: 25px;flex: 1;min-width: 320px;max-width: 600px;box-sizing: border-box; margin: 0;display: flex; flex-direction: column; justify-content: space-between; position: relative; box-shadow: rgba(0,0,0,0.05);}
        .image img{width: 100%; max-width: 200PX; height: 200PX; object-fit: cover; border-radius: 6px; margin-bottom: 15px;}
        .image cite {font-family: "Playfair Display", serif; margin-top: 15px;font-weight: bold;font-style: normal;display: block;text-align: left;color: var(--cor-texto);}
        .image cite:hover{font-size:20px; transform: 0.5s ease, color var(--cor-branco); color: var(--cor-branco);}
        .autor{display: block; align-items: center; gap: 15px; margin-bottom: 15px; width: 100%;}
        .foto{width: 50px; height: 50PX; object-fit: cover; border-radius: 100%; border: 2px solid var(--cor-texto);}
        .autor cite{font-weight: bold; font-style: normal; color: var(--cor-texto); text-align: left; margin-top: 0;}
        .imag{display: block; margin: 30px auto; width: 100%; max-width: 550px; height: 500px; border-radius: 8px;}
